<div class="container-fluid">
    <mat-card>
      <mat-card-title>
        <div class="row rowMargin">
          <div class="col-sm-12 text-center">
            <strong>Employees</strong>
            <button type="button" class="btn btn-primary btn-md btn-right" (click)="addNew()">Add Employee
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsie text-center">
            <table class="table table-bEmployeeed table-striped table-sm text-nowrap" cellsspacing="0" width="100%">
              <thead>
                <tr>
                  <th [mdbTableSort]="searchInfo" sortBy="{{item.key}}" *ngFor="let item of getHeader;trackBy:trackByFn">
                    {{item.value}} <i class="fa fa-sort btn-right"></i></th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td *ngFor="let items of getHeader; trackBy: trackByFn;let i = index">
                    <input type="text" class="formStyle" name="items{{i}}" placeholder="Search" #items{{i}}="ngModel"
                      [(ngModel)]="filterArray[items.key]" (keyup)="filterTable()">
                  </td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of searchInfo | paginate: { id:'coupon-pagination', itemsPerPage: 20, currentPage: p };trackBy:trackByFn;">
                  <td *ngFor="let head of getHeader;trackByFn:trackByFn">{{item[head.key]}}</td>
                  <td>
                    <button mat-icon-button color="accent" (click)="startEdit(true,item)">
                      <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" (click)="confirmPopUp(item)">
                      <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <tfoot [hidden]="searchInfo.length <= 20">
            <pagination-controls id="coupon-pagination" (pageChange)="p = $event"></pagination-controls>
          </tfoot>
        </div>
      </div>
    </mat-card>
  </div>
  <app-medium-modal #largeEmployeeModal [title]="'Employee Details'">
    <form #EditEmployeeform>
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field class="full-width">
            <input matInput required placeholder="Employee Name" name="EmployeeName"
              [(ngModel)]="incomingEmployeeModel.employee_name" #EmployeeStatus="ngModel">
          </mat-form-field>
        </div>       
        <div class="col-sm-4">
          <mat-form-field class="full-width">
            <input matInput required placeholder="Salary" name="Salary" [(ngModel)]="incomingEmployeeModel.employee_salary"
              #Quantity="ngModel">
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field class="full-width">
            <input matInput required placeholder="Employee Age" name="Age" [(ngModel)]="incomingEmployeeModel.employee_age"
              #Quantity="ngModel">
          </mat-form-field>
        </div>
        <div class="col-sm-12 text-center">
          <button type="button" class="btn btn-primary btn-md" [disabled]="EditEmployeeform.invalid"
            (click)="Employee(incomingEmployeeModel,Button)">{{Button}}
            <i class="fa fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </form>
  </app-medium-modal>
  
  
  
  <app-medium-modal #DeleteModal [title]="'Delete Employee'">
    <div class="text-center">
      <h5>Are You Sure?</h5>
      <button type="button" class="btn btn-outline-danger btn-md" (click)="confirmDelete()">Yes
        &nbsp;<i class="fa fa-times-circle"></i>
      </button>
    </div>
  </app-medium-modal>